.search-bar-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #f6f6f6;
    margin-right: 0.5rem;
    flex: 1;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: #198c8e;
    color: #fbfbfb;
  }
  