.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #47c3d3;
}

.card {
  width: 18rem;
  margin: 10px;
  background-color: #deecee;
  border: 1px solid #100e0e;
  border-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 2.7rem;
  font-weight: bold;
}

.card-text {
  font-size: 2rem;
}

.recharge-button {
  bottom: 0rem;
  left: 1rem;
  background-color: #007bff;
  color: #eaeaea;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.recharge-button:hover {
  background-color: #0069d9;
}

.recharge-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.recharge-button:disabled,
.recharge-button:disabled:hover {
  background-color: #007bff;
  cursor: not-allowed;
  opacity: 0.65;
}