.rechargephoto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.rechargephoto-card {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.rechargephoto-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rechargephoto-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
